/* External CSS */
.monospace { font-family: monospace;}

.h2 {color:darkcyan;
     font-family: monospace;}

.p {color:tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}