/* External CSS */
.monospace {font-family:monospace;}

.h2 {
    text-align: center;
    color:lightcoral;
    font-family:monospace;
    background-image:url("rumham.jpg");
}

.p {
    text-align: center;
    color:darkcyan;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}